body {
    font-family: 'Nunito', sans-serif;
}

#main_header {
	background-color: #404040;
	color: white;
	font-weight: bold;
	text-align: center;
	margin-bottom: 25px;
	padding: 10px 0px;
}

.table-item {
	cursor: pointer;
	border-bottom: 1px solid #808080;
}
.table-item:nth-child(even) {background: #ddd; }
.table-item:hover { background-color: #fbe68e; }

#main-table {
	text-align: center;
	border: 1px solid black;
	margin: 10px;
}

.main-table-header {
	background-color: lightblue;
	font-weight: bold;
	border-bottom: 2px solid #808080;
}

.ib {
	display: inline-block;
}

.left {
	text-align: left; 
}

.right {
	text-align: right; 
}

.pr-25 {
	padding-right: 25px;
}

.bold {
	font-weight: bold;
}

.hidden {
	display: none;
}

.clientInfo {
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}

.historyInfo {
	background-color: #e0e0e0;
}

.historyItem {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.historyContainer {
	background-color: #e0e0e0;
}